In [18]:
import pandas as pd
pd.__version__

'2.0.2'

In [2]:
list=[1,2,3,4,"Gaurav"]
print(list)

[1, 2, 3, 4, 'Gaurav']

In [3]:
S=pd.Series(list)
print(S)

0         1
1         2
2         3
3         4
4    Gaurav
dtype: object

In [6]:
print(type(S))

<class 'pandas.core.series.Series'>

In [7]:
P=pd.Series([11,22,33,44])
print(P)

0    11
1    22
2    33
3    44
dtype: int64

In [8]:
P=pd.Series([11,22,33,44],index=['a','b','c','d'])
print(P)

a    11
b    22
c    33
d    44
dtype: int64

In [9]:
P=pd.Series([11,22,33,44],index=['a','b','c','d'],dtype=float)
print(P)

a    11.0
b    22.0
c    33.0
d    44.0
dtype: float64

In [10]:
P=pd.Series([11,22,33,44],index=['a','b','c','d'],dtype=float,name='First_name')
print(P)

a    11.0
b    22.0
c    33.0
d    44.0
Name: First_name, dtype: float64

In [3]:
emty=pd.Series([])
print(emty)

Series([], dtype: object)

In [4]:
scalar=pd.Series(0.05)
print(scalar)
print(type(scalar))

0    0.05
dtype: float64
<class 'pandas.core.series.Series'>

In [5]:
scalar=pd.Series(0.05,index=['a','b','c','d'])
print(scalar)

a    0.05
b    0.05
c    0.05
d    0.05
dtype: float64

In [6]:
dict=pd.Series({'a':1,'b':2,'c':3,'d':4})
print(dict)

a    1
b    2
c    3
d    4
dtype: int64

In [7]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([2,3,4,5,6])
s3=pd.Series([3,4,5,6,7])
print(s1,s2,s3)

0    1
1    2
2    3
3    4
4    5
dtype: int64 0    2
1    3
2    4
3    5
4    6
dtype: int64 0    3
1    4
2    5
3    6
4    7
dtype: int64

In [12]:
print(max(s1))
print(max(s2))
print(max(s3))
print(min(s1))
print(min(s2))
print(min(s3))

5
6
7
1
2
3

In [13]:
s1+s2

0     3
1     5
2     7
3     9
4    11
dtype: int64

In [14]:
s2-s3

0   -1
1   -1
2   -1
3   -1
4   -1
dtype: int64

In [15]:
s2/s1

0    2.000000
1    1.500000
2    1.333333
3    1.250000
4    1.200000
dtype: float64

In [16]:
s3*s2

0     6
1    12
2    20
3    30
4    42
dtype: int64

# Dataframe

In [20]:
emp=pd.DataFrame([])
print(emp)

Empty DataFrame
Columns: []
Index: []

In [21]:
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [24]:
d=pd.DataFrame(list)
d

   0
0  1
1  2
2  3
3  4
4  5

In [25]:
d=pd.DataFrame([[11,22,33],[22,33,44],[44,55,66]])
d

    0   1   2
0  11  22  33
1  22  33  44
2  44  55  66

In [27]:
dict={'a':[11,22,33],'b':[22,33,44],'c':[33,44,55]}
df=pd.DataFrame(dict)
df

    a   b   c
0  11  22  33
1  22  33  44
2  33  44  55

In [36]:
list=[{'a':11,'m':22,'g':33} ,
      {'a':33,'m':66,'g':77} ,
      {'a':99,'m':44,'g':45}]
pd.DataFrame(list)

    a   m   g
0  11  22  33
1  33  66  77
2  99  44  45

In [37]:
list=[{'a':[11,22,33]},
      {'m':[66,77,88]},
      {'g':[45,55,67]}]
pd.DataFrame(list)

              a             m             g
0  [11, 22, 33]           NaN           NaN
1           NaN  [66, 77, 88]           NaN
2           NaN           NaN  [45, 55, 67]

In [40]:
pd.DataFrame({'a':pd.Series([11,22,33]),'b':pd.Series([22,33,44])})

    a   b
0  11  22
1  22  33
2  33  44

In [41]:
pd.DataFrame({'a':[11,22,33],'b':[22,33,44]})

    a   b
0  11  22
1  22  33
2  33  44